.main {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  margin-top: 70px;
  border-radius: 5px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
}

.media {
  height: 30px;
  display:flex;

  .media-left {
    margin-right: 10px;
    flex-grow: 0;
    flex-shrik: 0;
  }
  .media-content {
    flex: 1;
  }

}
.title {
  text-align: center;
}
.detail {
  margin-top: 20px;
  text-align: center;
}
